/* This is the CSS3 'index' File For Dominic's BioSite */

:root {
        --white: #ffffff99;
        --blue: #20B9E2;
        --red: #F70B0B;
        --black: #000000;
        --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        --font: 'Inconsolata', monospace;
}

* {
        margin: 0;
        padding: 0;
}

html {
        box-sizing: border-box;
        font-family: var(--font);
        color: var(--black); /* This is how you address a variable in CSS */
        width: 100%;
}

body {
        position: relative;
        background: url(../images/scroll1.jpg) no-repeat center center fixed;
        background-size: cover;
        margin: 0 auto;
}

header {
        height: 200px;
}

header, .circle {
        position: relative;
        top: 0;
        margin: 0;
}

.circle img {
        position: absolute;
        top: -42px;
        width: 325px;
        height: 250px;
        z-index: 1;
}

.logo {
        position: relative;
        top: 0;
        margin: 0;
}

.logo > h1 {
        display: none;
}

.scrollControls {
        margin: 0;
}

main {
        position: relative;
        top: 40px;
        width: 90%;
        margin: 0 auto;
}

ul {
        list-style: none;
        padding: 0;
}

#navCenter {
        position: relative;
        top: 0;
        width: 100%;
        height: 90px;
        background: var(--blue);
}

#imgScroll {
        position: relative;
        top: 0;
        margin: 0;
}

#mainNav {
        position: relative;
        top: 38px;
        margin: 0;
}

.navLinks {
        position: relative;
        bottom: 0;
        display: flex;
        width: 100%;
        border: .5px solid var(--blue);
        margin: 0;
}

.navLinks li {
        position: relative;
        bottom: 0px;
        width: 25%;
        height: 50px;
        border: .5px solid var(--blue);

}

.navLinks li a {
        display: block;
        font-family: var(--font);
        font-weight: bold;
        line-height: 50px;
        text-decoration: none;
}

.navLinks li a h3 {
        width: 100%;
        border: .5px solid var(--blue);
        height: 50px;
        background: #000000;
        color: var(--blue);
        text-align: center;
        margin: 0;
}

.selected {
        background: white;
}

.selected h3 {
        color: var(--black);
        font-weight: bolder;
        text-align: center;
        line-height: 50px;
}

#infoBuckets {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 0 40px 0;
}

.buckets {
        background: var(--white);
        width: 31%;
        height: 380px;
}

.images, .headers {
        width: 100%;
        margin: 0;

}

.images {
        height: 100px;
}

.headers {
        position: relative;
        top: -4px;
        height: 50px;
        background: var(--red);
}

.headers h2 {
        color: var(--blue);
        font-family: var(--font);
        font-weight: bold;
        line-height: 50px;
        text-indent: 25px;
        margin: 0;
}

.paragraphs {
        padding: 20px 20px 20px 20px;
        font-family: var(--font);

}

.buttons {
        position: relative;
        margin: 0 auto;
        height: 50px;
        width: 80%;
        background: var(--black);
}

.buttons a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        color:  var(--blue);
        line-height: 50px;
        text-align: center;
}

.buttons a h3 {
        font-family: var(--font);
        font-size: 1em;
}

footer {
        position: relative;
        top: 40px;
        width: 90%;
        height: 70px;
        background: var(--red);
        margin: 0 auto;
}

#footerNav {
        position: relative;
        top: 11px;
}

.footLinks {
        position: relative;
        top: 0;
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: space-evenly;
        margin: 0;
}

.social {
        position: relative;
        top: 0;
        height: 48px;
        width: 48px;
}

#faceLink, #twitLink, #gooLink, #pinLink {
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
        line-height: 48px;
        vertical-align: top;
}

#socialFace, #socialTwit, #socialGoo, #socialPin {
        position: relative;
        top: 0;
        color: var(--red);
        font-size: .1em;
        vertical-align: top;
        margin: 0;
}

#socialFace span, #socialTwit span, #socialGoo span, #socialPin span {
		position: absolute;
		width: 100%;
		height: 48px;
}

#socialFace span {
        background: url("../svg/faceLogoUp.svg") center no-repeat;
}

#socialTwit span {
        background: url("../svg/twitLogoUp.svg") center no-repeat;
}

#socialGoo span {
        background: url("../svg/gooLogoUp.svg") center no-repeat;
}

#socialPin span {
        background: url("../svg/pinLogoUp.svg") center no-repeat;
}

h6 {
        position: relative;
        bottom: 22px;
        text-align: center;
        font-size: 1.3em;
        color: var(--blue);
        font-family: var(--font);
        font-weight: bold;
        vertical-align: center;
        margin: 0;
}