/* This is the CSS3 'index' File For Dominic's BioSite */

:root {
        --white: #ffffff99;
        --blue: #20B9E2;
        --red: #F70B0B;
        --black: #000000;
        --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        --font: 'Inconsolata', monospace;
        --hide:  #ffffff01;
}

* {
        margin: 0;
        padding: 0;
}

html {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-family: var(--font);
        color: var(--black); /* This is how you address a variable in CSS */
        width: 100%;
}

body {
        position: relative;
        background: url(../images/scroll1.jpg) no-repeat center center fixed;
        background-size: cover;
        margin: 0 auto;
}

header {
        height: 200px;
}

header, .circle {
        position: relative;
        top: -5px;
        margin: 0;
}

.circle img {
        position: absolute;
        top: -42px;
        width: 325px;
        height: 250px;
        z-index: 1;
}

.logo {
        position: relative;
        top: 0;
        margin: 0;
}

.logo > h1 {
        position: relative;
        top: 60px;
        text-align: center;
        font-family: var(--font);
        font-size: .1em;
        color: var(--hide);
}

.quote {
        grid-area: quote;
        height: 100px;
        margin: 45px 0 0 0;
}

.quote p {
        background: rgba(104, 104, 104, 0.6);
        -webkit-box-shadow: var(--shadow);
                box-shadow: var(--shadow);
        font-family: var(--font);
        font-size: 2.5em;
        color: var(--blue);
        text-shadow: var(--shadow);
        margin-left: 25%;
}

.scrollControls {
        margin: 0;
}

main {
        position: relative;
        top: 40px;
        width: 90%;
        margin: 0 auto;
}

ul {
        list-style: none;
        padding: 0;
}

#navCenter {
        position: relative;
        top: 0;
        width: 100%;
        height: 90px;
        background: var(--blue);
}

#imgScroll {
        position: relative;
        top: 0;
        margin: 0;
}

#mainNav {
        position: relative;
        top: 38px;
        margin: 0;
}

.navLinks {
        position: relative;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        border: .5px solid var(--blue);
        margin: 0;
}

.navLinks li {
        position: relative;
        bottom: 0px;
        width: 25%;
        height: 50px;
        border: .5px solid var(--blue);
        list-style-type: none;

}

.navLinks li a {
        display: block;
        background: #000000; 
        border: .5px solid var(--blue);
        color: var(--blue);
        font-family: var(--font);
        font-weight: bold;
        line-height: 50px;
        text-decoration: none;
}

.navLinks li a:hover {
        background: var(--blue);
        color: var(--black);
        border: .5px solid var(--black);
}

.navLinks li a h3 {
        width: 100%;
        height: 50px;
        text-align: center;
        margin: 0;
}

.selected {
        background: white;
}

.selected h3 {
        color: var(--black);
        font-weight: bolder;
        text-align: center;
        line-height: 50px;
}

#infoBuckets {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 0 40px 0;
}

.buckets {
        background: var(--white);
        width: 31%;
        height: 380px;
}

.images, .headers {
        width: 100%;
        margin: 0;

}

.images {
        height: 100px;
}

.headers {
        position: relative;
        top: -4px;
        height: 50px;
        background: var(--red);
}

.headers h2 {
        color: var(--blue);
        font-family: var(--font);
        font-weight: bold;
        line-height: 50px;
        text-indent: 25px;
        margin: 0;
}

.paragraphs {
        padding: 20px 20px 20px 20px;
        font-family: var(--font);

}

.buttons {
        position: relative;
        margin: 0 auto;
        height: 50px;
        width: 80%;     
}

.buttons a {
        position: absolute;
        text-decoration: none;
        height: 100%;
        width: 100%;
        color:  var(--blue);
        background: var(--black);
        line-height: 50px;
        text-align: center;
}

.buttons a:hover {
        color: var(--black);
        background: var(--blue);
}

.buttons a h3 {
        font-family: var(--font);
        font-size: 1em;
}

/* Footer Section Layout */
.footer {
        grid-area: footer;
        position: fixed;
        bottom: 0;
        left: 5%;
        width: 90%;
        height: 70px;
        background: var(--red);
        margin: 0 auto 0 auto;
}

#footerNav {
        position: relative;
        top: 11px;
        width: 100%;
}

.footLinks {
        position: relative;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 48px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin: 0;
}

.social {
        position: relative;
        top: 0;
        height: 48px;
        width: 48px;
        list-style: none;
}

.copyright {
        position: relative;
        top: 35px;
        height: 48px;
        list-style: none;
}

#faceLink, #twitLink, #gooLink, #pinLink {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        line-height: 48px;
        text-decoration: none;
        vertical-align: top;
}

#faceLink {
        background: url(../svg/FaceLogoUp.svg) center no-repeat;
}

#faceLink:hover {
        background: url(../svg/FaceLogoOver.svg);
}

#twitLink {
        background: url(../svg/TwitLogoUp.svg) center no-repeat;
}

#twitLink:hover {
        background: url(../svg/TwitLogoOver.svg);
}

#gooLink {
        background: url(../svg/GooLogoUp.svg) center no-repeat;
}

#gooLink:hover {
        background: url(../svg/GooLogoOver.svg);
}

#pinLink {
        background: url(../svg/PinLogoUp.svg) center no-repeat;
}

#pinLink:hover {
        background: url(../svg/PinLogoOver.svg);
}

#socialFace, #socialTwit, #socialGoo, #socialPin {
        position: relative;
        top: 0;
        text-align: center;
        font-family: var(--font);
        font-size: .1em;
        color: var(--hide);
}

#socialFace span, #socialTwit span, #socialGoo span, #socialPin span {
		position: absolute;
		width: 100%;
		height: 48px;
}

h6 {
        position: relative;
        bottom: 22px;
        text-align: center;
        font-size: 1.3em;
        color: var(--blue);
        font-family: var(--font);
        font-weight: bold;
        vertical-align: center;
        margin: 0;
}