/* This is the CSS3 File For Dominic's BioSite */

html {
        width: 100%;
}

body {
        background: transparent;
}

img {
        width: 400px;
        height: 275px;
}

.logo > h1 {
        display: none;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.circle img {
    border-radius: 50%;
    display: block;
    border:1px solid white;
}
.circle:after {
    content: "";
    display: block;
    background: radial-gradient(ellipse at center, rgba(255,255,255, 0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 110%);
    border-radius: 50%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}